.before-after {
	position: relative;
	display: inline-block;
	vertical-align: top;
	user-select: none;
}

.before-after .photo img {
	display: block;
	max-width: 100%;
	height: auto;
}

.before-after .photo.before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: translate(-50%);
}

.before-after .photo.before img,
.before-after .photo.before .layer {
	transform: translate(50%);
}

.before-after .drag-handler {
	width: 5px;
	background-color: var(--sec-color);
	margin: 0 0 0 -4px;
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	opacity: 0.50;
	cursor: ew-resize;
}

.before-after .drag-handler .drag-element {
	position: absolute;
	left: -18px;
	top: 50%;
	width: 40px;
	height: 40px;
	background-color: var(--white-color);
	border: 5px var(--sec-color) solid;
	border-radius: 50%;
	cursor: ew-resize;
}

.before-after:hover .drag-handler {
	opacity: 1;
}