<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple and fast Image Compression tool, created by Mehluli Hikwa">
    <meta name="author" content="Mehluli Hikwa">
    <meta name="theme-color" content="#0048ce">
    <title>Image Compressor | Mehluli Hikwa</title>
    <link rel="stylesheet" href="./css/app.css">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var beforeAfterExample = new BeforeAfter(document.querySelector('#compareImage'));
        });
    </script>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="./img/logo.png">
</head>

<body>
    <header>
        <div class="content">
            <h1>Image Compressor <span>v1.5.0</span></h1>
            <h2>Simple and fast "Image Compression" tool</h2>
        </div>
    </header>
    
    <main>
        <article id="app">
            <!-- FIXME: Script won't upload or makes mobile and Ipad browsers crush -->
            <section class="content" id="hideUpload" @change="change" @dragover="dragover" @drop="drop">
                <div class="upload-section">
                    <p>Drop Image Here or Choose a File</p>
                    <input type="file" id="file" class="inputfile" accept="image/*;capture=camera" ref="input">
                    <label for="file">
                        <div class="circle">
                            <svg viewBox="0 0 20 17">
                                <path
                                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                            </svg>
                        </div>
                    </label>
                </div>
            </section>

            <section class="content">
                <div class="half column">
                    <div v-if="inputURL">
                        <img :src="inputURL" :alt="input.name">
                    </div>
                    <!-- <div v-if="inputURL">
                        <img :src="outputURL" :alt="output.name">
                    </div>
                    <img src="./img/_meh_test.jpg" alt="">
                    <img src="./img/_meh_test.jpg" alt=""> -->


                    <!-- <div id="compareImage">
                        <img src="./img/_meh_test.jpg" alt="Before" />
                        <img src="./img/_meh_test.jpg" alt="After" />
                    </div> -->
                </div>

                <div class="half column">
                    <div v-if="outputURL">
                        <div class="resluts-container">
                            <p>File Name: {{ output.name || ' ' }}</p>
                            <p>Original size: {{ input.size | prettySize }}</p>
                            <p>Converted size: {{ output.size | prettySize }}</p>
                            <div class="button">
                                <a :download="output.name" :href="outputURL" title="Download the compressed image">Download</a>
                            </div>
                            <!-- <br> -->
                            <!-- <p><a href="">Convert Another Image</a></p> -->
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    
    <!-- FIXME: Minify Code - Try Webpack -->
    <script src="js/vue.min.js"></script>
    <script src="js/image-compressor.js"></script>
    <script src="js/script.js"></script>
    <!-- <script src="js/before-after.js"></script> -->
    
</body>
</html>